<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aivar Local</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/darkly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-w+yWASP3zYNxxvwoQBD5fUSc1tctKq4KUiZzxgkBSJACiUp+IbweVKvsEhMI+gz7" crossorigin="anonymous">
    <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9 mb-3">
                <video id="player" class="embed-responsive-item video-js" controls>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div id="unlocks"></div>
            <!--<pre id="subjects"></pre>-->
            <!--<pre id="matches"></pre>-->
            <!--<pre id="results"></pre>-->
        </div>
    </div>
    <script>
        window.videoId = '%video_id%';
        window.videoUrlMp4 = '%video_url_mp4%';
        window.videoPoster = '%video_poster_url%';
        window.frameInterval = parseInt('%frame_interval_seconds%');
        window.subjects = %subjects%;
        window.matches = %matches%;
        window.results = %results%;
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
    <script>
        var player = videojs('player');
        player.src(videoUrlMp4);
        player.poster(videoPoster);
        player.ready(function() {
        });
        window.seekTo = function(seconds) {
            player.currentTime(seconds);
            if (player.paused()) {
                player.play();
            }
        }
    </script>
    <script src="../../templates/aivar.js"></script>
</div>
</body>
</html>
